.white-text {
  color: #ffffff;
}

.row-header {
  background-color: #000000;
}

.closed {
  background-color: #d9534f;
}

.open {
  background-color: #5cb85c;
}

.even-row {
  background-color: #f2f2f2;
}

.odd-row {
  background-color: #e6e6e6;
}
